:root {

    --main-radius: 5px;
    --main-padding: 5px;
    --navy: #52489c;
    --green: #59c3c3;
}

.container {

    display: grid;
    grid-gap: 0.5rem;
    grid-template-rows: 0.6fr 2fr 2fr 2fr 2fr 0.4fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "nav nav nav"
        "photo about about"
        "publications publications sidebar"
        "blogs blogs blogs"
        "album album album"
        "footer footer footer"



    ;

    height: 100vh;

    background-color: aliceblue;
    color: black;
}

nav {
    grid-area: nav;
    padding: var(--main-padding);
    border-radius: var(--main-radius);
    background: var(--navy);
}

#photo {
    grid-area: photo;
    padding: var(--main-padding);
    border-radius: var(--main-radius);
    background: var(--green);
}

#about {
    grid-area: about;
    padding: var(--main-padding);
    border-radius: var(--main-radius);
    background: var(--green);
}

#publications {
    grid-area: publications;
    padding: var(--main-padding);
    border-radius: var(--main-radius);
    background: var(--green);
}

#sidebar {
    grid-area: sidebar;
    padding: var(--main-padding);
    border-radius: var(--main-radius);
    background: var(--green);
}

#blogs {
    grid-area: blogs;
    padding: var(--main-padding);
    border-radius: var(--main-radius);
    background: var(--green);
}

#album {
    grid-area: album;
    padding: var(--main-padding);
    border-radius: var(--main-radius);
    background: var(--green);
}


footer {
    grid-area: footer;
    padding: var(--main-padding);
    border-radius: var(--main-radius);
    background: var(--footercolor);
}

p {
    line-height: 1.6;
    font-size: 16px;
}

h1 {
    font-size: 28px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}


nav {
    grid-area: nav;
    background: var(--navy);
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

.navbar {
    display: flex;
    justify-content: center; 
    align-items: center;
    background: var(--navy);
    padding: 15px;
    border-radius: var(--main-radius);
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
}

.nav-links a:hover {
    color: #ffcc00;
}

.hamburger-menu {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: white;
    left: 20px !important;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    background: var(--navy);
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
    z-index: 1000;
    position: relative;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu ul li {
    padding: 10px 0;
}

.mobile-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.mobile-menu ul li a:hover {
    background: #4062bb;
}

.mobile-menu.show {
    display: flex;
    height: auto;
}

.container.menu-expanded {
    margin-top: 150px;
}

/* Responsive Styles */
@media only screen and (max-width: 700px) {
    .nav-links {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }
}




.photo-name {
    text-align: center;
}

.photo-style {
    width: 100%;
}

.publications-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}


.publication-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.publication-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.publication-card h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}

.publication-card p {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.read-more {
    text-decoration: none;
    color: white;
    background: #52489c;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    display: inline-block;
}

.read-more:hover {
    background: #4062bb;
}

.about-style {
    text-align: center;
}

.break-word {
    display: block;
}

.hobbies-container {
    display: grid;
    gap: 10px;
    text-align: left;
    margin-top: 25px;
}

.hobby {
    background: white;
    color: #333;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: bold;
    display: grid;
    align-items: center;
    gap: 10px;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

.hobby:hover {
    background: #f0f0f0;
}

.hobby-icon {
    font-size: 20px;
}



.blog-card h3 {
    font-size: 18px;
    color: var(--navy);
    margin: 10px 0;
}

.blog-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    margin-top: 15px;
}

.blog-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.blog-card:hover {
    transform: translateY(-5px);
}

.blog-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.blog-content {
    padding: 10px 0;
}

.blog-content h3 {
    font-size: 18px;
    color: var(--navy);
    margin: 5px 0;
}

.blog-content p {
    font-size: 14px;
    color: #555;
}

.read-more {
    text-decoration: none;
    color: white;
    background: var(--navy);
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 12px;
    display: inline-block;
    margin-top: 8px;
    text-align: center;
}

.read-more:hover {
    background: var(--lightnavy);
}

.album-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-top: 10px;
}

.album-item {
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}


.album-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.album-item p {
    font-size: 14px;
    color: #333;
    margin-top: 5px;
}

#contact {
    color: white;
    background-color: var(--navy);
}

.heading {
    text-align: center;
}

.contact-me {
    display: grid;
    place-items: center;
    gap: 15px;
    padding: 10px;
    grid-auto-flow: column;
}

.contact-image {
    width: 30px;
}

.back-to-top {
    text-align: right;
    padding: 10px 0;
    margin-left: 20px;
}

.back-to-top a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    background: #52489c;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
}

.back-to-top a:hover {
    background: #4062bb;
}


@media only screen and (max-width: 700px) {

    .container {

        display: grid;
        grid-gap: 0.5rem;
        grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "nav"
            "photo"
            "about"
            "publications"
            "sidebar"
            "blogs"
            "album"
            "footer"



        ;

        height: 100vh;

        background-color: aliceblue;
        color: black;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}